

.slider{
    height: 90vh;
    margin: auto;
    width: 100%;
}

.navbar{
    background-color: #0F3654;
}
.footer{
    background-color: #0F3654;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo{
    width: 50px;
    border: white;
    border-radius: 10px;
}

.navbar .navbar-collapse .navbar-brand{
    color: white;
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link{
    color: white;
    margin-right: 5px;
    /*margin-bottom: 2px;*/
    text-align: center;

    /*border: white;*/
    /*border-radius: 10px;*/
    /*background-color: #4284B4;*/

    /*width: 100px;*/
}

.navbar-nav .nav-item .nav-link:hover{
    color: #4284B4;
    /*background-color: white;*/

}

.profile-box {
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}